{%extends 'base.html'%}
{%block content%}
<!-- Header-->
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">About us</h1>
            <p class="lead fw-normal text-white-50 mb-0">Welcome to GNETWIFI SERVICES</p>
        </div>
    </div>
</header>
<div class="container">
    <div class="row">
        <center>
            <div class="col-8">
                <p align="justify">
                    <br></br>
                    An About Us page is a section on a website that provides information about a company, organization, or individual. It’s an opportunity to tell your brand’s story, share your vision, introduce team members, and outline your history, values, and achievements. This is where you build trust and credibility with customers.
<br></br>
In Shopify’s customer trust research, we found shoppers navigate to an About Us page to learn more about the brand and the people behind the products. According to one study, 59% of consumers surveyed said they would more likely purchase from a brand they trust. That number jumps to 79% of younger Gen Z consumers. Your About Page should address those two curiosities shoppers have to help them with decision making. 
<br></br>
Shoppers are also interested in a company’s mission and brand values. They’ll use the About Us page to determine if they share core values with the business and to decide if they want to shop with you or not. Shared values, especially related to ethical and sustainable business practices, continue to drive consumer decision making. 


                </p>
                <br></br>
            </div>
        </center>
    </div>  
</div>  
{% endblock %}