{%load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GNET | WIFI SERVICES</title>
    <link rel="icon" type="image/x-icon" href="{%static 'images/logo.ico'%}" />
    <link rel="stylesheet" href="{% static 'css/style.css'%}">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Bootstrap CSS -->
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/5.1.3/css/bootstrap.min.css" rel="stylesheet">

<!-- Bootstrap JS (with Popper.js) -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/5.1.3/js/bootstrap.bundle.min.js"></script>
<style>
    .toast-container {
        position: fixed;
        bottom: 1rem;
        right: 1rem;
        z-index: 1050;
    }

    .toast {
        display: none;
        background-color: #842029;
        color: #fff;
        padding: 1rem;
        border-radius: 0.25rem;
        box-shadow: 0 0.25rem 0.5rem rgba(red, green, blue, alpha);
        opacity: 0.9;
    }

    .toast-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #842029;
        color: #fff;
    }
    .toast-body{
        font-size: 0.875rem;
    }
    .btn-close{
        background: none;
        border: none;
        color: #fff;
        font-size: 1.25rem;
        line-height: 1;
        cursor: pointer;
    }
</style>
<script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
</head>

<body>
    {% include 'navbar.html'%}
    <!-- Toast Container -->
    <div aria-live="polite" aria-atomic="true" class="toast-container">
        <div id="messageToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
            
            <div class="toast-body">
                {% if messages %}
                    {% for message in messages %}
                        <div>{{ message }}</div>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>

  
        {%block content%}
        {%endblock%}
    

 

    <!-- Footer -->
    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="footer-col-1">
                    <h3>Developer</h3>
                    <p>Contact the developer.</p>
                    <div class="app-logo">
                       <a href="https://github.com/vidakpop"><img src="{%static 'images/github.png'%}" alt="Github"></a>
                        
                    </div>
                </div>
                <div class="footer-col-2">
                    <img src="{%static 'images/logo.png'%}" alt="GNET Logo">
                    <p>Our mission is to provide the best internet services to our customers.</p>
                </div>
                <div class="footer-col-3">
                    <h3>Contacts</h3>
                    <ul>
                        <li>Phone:0795480710/ 0707091841</li>
                       
                        <li>Email:gnetwifi2023@gmail.com</li>
                    </ul>
                </div>
                <div class="footer-col-4">
                    <h3>Follow Us</h3>
                    <ul>
                        <li>Facebook</li>
                        <li>Twitter</li>
                        <li>Instagram</li>
                        <li>YouTube</li>
                    </ul>
                </div>
            </div>
            <hr>
            <p class="copyright">Copyright 2024 - GNET WIFI SERVICES</p>
        </div>
    </div>

    <!-- JS for toggle menu -->
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            // Check if there are messages
            if (document.querySelector('.toast-body div')) {
                var toast = document.getElementById('messageToast');
                toast.style.display='block';

                setTimeout(function(){
                    toast.style.display='none';
                    }, 3000);
                
            }
        });
        function closeToast(){
            var toast=document.getElementById('messageToast');
            toast.style.display='none';
        }
    </script>
    <script>
        var MenuItems = document.getElementById("MenuItems");
        MenuItems.style.maxHeight = "0px";

        function menutoggle() {
            if (MenuItems.style.maxHeight == "0px") {
                MenuItems.style.maxHeight = "200px";
            } else {
                MenuItems.style.maxHeight = "0px";
            }
        }
    </script>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            // Check if there are messages
            if (document.querySelector('.modal-body .alert')) {
                var messageModal = new bootstrap.Modal(document.getElementById('messageModal'));
                messageModal.show();
            }
        });
        </script>
        

</body>

</html>
